<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Alternatives</h5>
      <ul class="list-group">
        <% predictions.alternatives.forEach(alternative => { %>
          <li class="list-group-item"><%= alternative %></li>
        <% }) %>
      </ul>
    </div>
  </div>
  