<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Top Predicted Diseases</h5>
      <ul class="list-group">
        <% predictions.diseases.forEach(disease => { %>
          <li class="list-group-item"><%= disease %></li>
        <% }) %>
      </ul>
    </div>
  </div>
  