<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Side Effects</h5>
      <ul class="list-group">
        <% predictions.sideEffects.forEach(effect => { %>
          <li class="list-group-item"><%= effect %></li>
        <% }) %>
      </ul>
    </div>
  </div>
  