<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Enter Symptoms</h5>
      <form action="/" method="POST">
        <input type="text" name="symptoms" class="form-control mb-2" placeholder="Type symptoms here">
        <button type="submit" class="btn btn-primary">Get Prediction</button>
      </form>
    </div>
  </div>
  